/* Reset CSS to remove default margins, padding, and ensure full height */
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  background-color: #000;
  color: #fff;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Remove any default margin from headings, paragraphs, etc. */
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin: 0;
  padding: 0;
}
